[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GSED"]
	path = GSED
	url = https://github.com/cran/GSED
[submodule "MIXFIM"]
	path = MIXFIM
	url = https://github.com/cran/MIXFIM
[submodule "SIDES"]
	path = SIDES
	url = https://github.com/cran/SIDES
